#posEditFormId
{
  background: none;
  padding: 0;

  border: none;
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#posEditFormId .formLabel
{
  float:left;
  width: 120px;
  padding-left: 10px;

}
#posEditFormId .formField
{
  float:left;
  margin-right: 5px;
  width: 500px;
  text-align: left;
}

#posEditFormId div .formField input
{
  float:left;
  margin-right: 5px;
  width: 500px;
  text-align: left;
}

#posEditFormId div .formField select
{
  width: 500px;
}

textarea {
   height: 100px;
    width: 400px;
}

.editLangClass
{
  width:95px; float:left;
}

#spaceDiv
{
  width:92px;
  float:left;
}

.menuBarItem
{
  background-color: #F4FBFF;
  border: 1px solid #93C0FF;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 10px;
  margin:7px;
  min-height: 35px;
}

.ta_user_list_container
{
  margin: 0 10px;
}

.position_form_salary_help
{
  border: 1px solid #8FCFF9;
  padding: 10px;
  margin: 5px auto;
  width: 90%;
  font-style: italic;
  font-size: 10px;
  -moz-border-radius:  8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  position: absolute;
  right: 0px;
  width: 390px;

  background-color: #EFEFEF;
}

.jobContainerClass
{
  float:left;width:95%;background-color:#FFFFFF;
}

.description
{
  width:500px;height:220px
}

.iframeBar
{
  position: fixed;
  top: 110px;
  right: 5px;
  width:25px;
  min-height:600px;
  max-height:675px;
  border:1px solid #8FCFF9;
  background-color:#efefef;
  border-radius:10px;
  background-image:url('../pictures/iframe_expand.png');
  background-repeat:repeat-y;
}
#openiframe
{
  min-height:600px;
  max-height:675px;
  width: 25px;
}

.homepageContainer
{
  width: 100%;
}

.editLangClass a
{
  margin-left: 8px;
}


#posEditFormId div.formFieldContainer
{
  position: relative;
}

.sharingContentField
{
  width: 600px;
  height: 50px;
}
