RewriteEngine on
RewriteCond %{SERVER_PORT} !=443
RewriteRule (.*) https://%{SERVER_NAME}%{REQUEST_URI} [R,L]


AuthName "Restricted Area"
AuthType Basic
AuthUserFile /home/slate/public_html/jobboard/.htpasswd
Satisfy Any
order deny,allow
deny from all
require valid-user

#allowed_ip - do not delete this line
allow from 127.0.0.1
allow from 192.168.215
allow from 192.168.81

#Slate Akasaka Office
allow from 118.243.81.245

#Slate Akasaka Office
allow from 118.243.81.246
allow from 183.77.248.83

#Slate Aoyaoma Office
allow from 118.243.81.248

#aoyama 3rd floor
allow from 183.77.226.168

#tky4.slate.co.jp
allow from 221.113.50.237

#man3.slate.co.jp
allow from 112.199.38.154

# canada office
allow from 209.145.127.108
